{% extends "normal.html" %}
{% block home-active %} class="active"{% endblock %}
{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/images/banner.png" alt="">
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
	
	<div class="container marketing">
	  <div class="row">
        <div class="offset3 span6 spanfull offset3">
          <!--<img class="img-circle" data-src="holder.js/140x140">-->
          <!--<h2>Title</h2>-->
          <p>The Vineyard Microclimate project (VmicroC) provides access to temperature information across the Robe and Mount Benson wine growing regions in South Australia. Data is updated periodically and can be visualised using the link below.</p>
          <p><a class="btn" href="/inspector">View data &raquo;</a></p>
		</div><!--offset 3 span6 offset 3-->  
      </div><!--row -->
	</div><!--container marketing-->
{% endblock %}